[accounts]
	[[wsu]]
		realname = Dr. Nick Smith
		address = Nicholas.A.Smith@wichita.edu
		sendmail_command = msmtp --account=wsu -t
		sent_box = maildir:///mnt/e/Syncthing/Mail/Sent
		draft_box = maildir:///mnt/e/Syncthing/Mail/Drafts
		signature = ~/vim-config/email/signature.eml
		[[[abook]]]
			type = shellcommand
			command = '~/.scripts/alot-notmuch-address.sh'
			regexp = '\[?{"name": "(?P<name>.*)", "address": "(?P<email>.+)", "name-addr": ".*"}[,\]]?'
			shell_command_external_filtering = false

[bindings]
	[[search]]
		x = toggletags killed
		i = toggletags inbox
		u = toggletags unread
		a = toggletags archive, inbox
	[[thread]]
		f = pipeto urlscan 2>/dev/null
